<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<div id="friendlist">
  <h3>Current Friends</h3>
  <% @friends.each do |friend| %>
    <% if !friend.new_record? %>
      <%= link_to friend.username, user_path(friend.id) %>
      <%= image_tag(friend.avatar, size: "50x50", alt: friend.avatar) %><br>
    <% end %>
  <% end %>
</div>

<%= link_to "New Article", new_article_path %>

<div id="article">
  <h3><%= @article_title %></h3>
  <p><%= @summary %></p>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Char count</th>
      <th>Url</th>
      <th>Private</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.char_count %></td>
        <td><%= article.URL %></td>
        <td><%= article.private %></td>
        <td><%= article.user_id %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
