<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<div class="friendlist">
  <h3>Current Friends</h3>
  <% @friends.each do |friend| %>
    <% if !friend.new_record? %>
      <%= link_to friend.username, user_path(friend.id) %>
      <%= image_tag(friend.avatar, size: "50x50", alt: friend.avatar) %><br>
    <% end %>
  <% end %>
</div>
<div class="row masonry-container">
  <div class="box col-md-2 article">
    <h3><%= link_to "New Article", new_article_path %></h3>
    Click the title above to visit the article creation page.
  </div>
<% @articles.each do |article| %>
  <div class="box col-md-4 article">
        <h3><%= link_to article.title, article %></h3>
        <%= article.content %>
        <% if article.user_id == current_user.id %>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
  </div>
<% end %>
</div>
