<p id="notice"><%= notice %></p>

<div class="friendlist">
  <h3>Current Friends</h3>
  <% @friends.each do |friend| %>
    <% if !friend.new_record? %>
      <div class="friend">
        <%= image_tag(friend.avatar, size: "40x40", alt: friend.avatar) %>
        <h4><%= link_to friend.username, user_path(friend.id) %></h4>
      </div>
    <% end %>
  <% end %>
  <h4><%= link_to "Add New Friend", new_user_friendship_path(current_user.id) %></h4>
</div>
<br><br>
<h3>Listing Articles</h3>
<div class="row masonry-container">
  <div class="box col-md-2 article">
    <h4><%= link_to "New Article", new_article_path %></h4>
    Click the title above to visit the article creation page.
  </div>
<% @articles.each do |article| %>
  <% if article.private == false %>
  <div class="box col-md-4 article">
        <h4><%= link_to article.title, article %><small> - <%= User.find(article.user_id).username  %>
        <% if article.user_id == current_user.id %>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %></small></h4>
        <%= article.content %>
  </div>
  <% end %>
<% end %>
</div>
