<% if @article.private == true %>
  <% if @article.user_id == current_user.id %>
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Title:</strong>
      <%= @article.title %>
    </p>
    <p>
      <strong>Content:</strong>
      <%= @article.content %>
    </p>
    <p>
      <strong>Char count:</strong>
      <%= @article.char_count %>
    </p>
    <p>
      <strong>URL:</strong>
      <%= link_to @article.URL, @article.URL %>
    </p>
    <%= link_to 'Edit', edit_article_path(@article) %> |
  <% else %>
    <h1>Stop poking around here!</h1>
  <% end %>
<% else %>
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Title:</strong>
      <%= @article.title %>
    </p>
    <p>
      <strong>Content:</strong>
      <%= @article.content %>
    </p>
    <p>
      <strong>Char count:</strong>
      <%= @article.char_count %>
    </p>
    <p>
      <strong>URL:</strong>
      <%= link_to @article.URL, @article.URL %>
    </p>
    <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
