<div id="container">
  <% if @user.id == current_user.id %>
  <h1>My Profile</h1><p><%= link_to "Edit profile", edit_user_registration_path %></p><br>
  <% else %>
    <%= @user.username + "'s Profile" %>
  <% end %>
  <%= image_tag(@user.avatar, size: "100x100", alt: @user.avatar) %><br>
  <h3>First Name: <%= @user.first_name %></h3>
  <h3>Last Name: <%= @user.last_name %></h3><br>

  <p><%= link_to "Back", root_url %></p>
</div>
